<!DOCTYPE html>
<html lang="en" id="total">
    <head>
        <meta name="naver-site-verification" content="2ac2cfdfef731e94d829598e74dd4e6281f319cf" />
        <meta name="google-site-verification" content="S14r0Rnl4NI0mKyZ-y689XLaIpNcqBgCOSb_axbNqKU" />
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5165114335376198"
     crossorigin="anonymous"></script>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta charset="utf-8">
        <meta property="og:title" content="hongmap(홍맵)">
        <meta property="og:description" content="홍익대학교 교내 길찾기 서비스 및 편의 시설 안내 사이트입니다.">
        <meta name="viewport" content="width=device-width, initial-scale=1", maximum-scale=1.0, user-scalable=1">
        <title>HONG MAP</title>
        <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../../static/css/responsiveWebMain.css" type="text/css">


    </head>
    <body>
            <!--카드-->
        <div class="card brightnessFromButton" id="card">
            <div style="display:flex; justify-content: center"><span id="close" style="cursor:pointer;font-size:2px" title="닫기"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c7576" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg></span></div>
            <img src="../../static/logo/schoolMap.jpg" class="card-img-top" alt="..." >
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>

            </div>
        </div>



        <!--편의시설 텍스트바-->
        <div id="divView"></div>

        <!-- 위의창 -->
        <nav class="navbar navbar-bg-light">
        <div class="container-fluid">
            <!-- 타겟id를 collapse형태로 나타나게 한다. aria를 이용하여 -->
            {#쉐도잉하려면 이거 넣어줘야한다onclick="shadowing()"#}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" onclick="sidebarButton()" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 홍익맵로고 -->
            <a href="" class=" link-dark text-decoration-none">
                <img src="../../static/logo/hongmapLogo.svg" style="width: 159px; height: 53px;">
            </a>
        </div>
        </nav>


        <!-- 사이드바 -->
        <!-- 클래스로 callapse를 주어 숨김처리 및 수평으로 나오게 한다. flex-shrink를 통해 줄어들었을 때 고려 -->
        <!-- d-flex를 통해 flex-conatainer표시 -->
        <div class="mySidebar collapse collapse-horizontal" id="navbarToggleExternalContent"       >
            {#사이드바#}
            <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-white" style="width: 100%;">
                    <span class="fs-4">MENU</span>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a data-url="txtCorrection" class="nav-link link text-black" onclick="showRoadFindSidebar()">
                      길찾기
                    </a>
                  </li>
                  <li>
                    <a data-url="coordinateCorrection" class="nav-link link text-black" onclick="showClubSidebar()">
                      동아리 박람회
                    </a>
                  </li>
                </ul>
                <hr>

            </div>

        </div>

        {#하단바#}
        <div id="roadFindSidebar" >
                        <!-- div를 flex속성을 위해 다시 넣었다 -->
            <div class="d-flex flex-column" id="innerSidebar">
                <!-- 닫기버튼 -->
                <div class="sidebarScrollButton" style="display:flex; justify-content: center;"><span id="close" style="cursor:pointer;font-size:2px" title="닫기"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c7576" class="bi bi-caret-down-fill" viewBox="0 0 16 16" onclick="roadFindSidebarRemove()">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg></span></div>
                <!-- 검색창 -->
                {% csrf_token %}
                <div class="autocomplete">
                    <input class="form-control mb-1 searchText w-100" id="autoInput" type="search" placeholder="출발지를 입력하세요" aria-label="Search" onkeyup="sendingData(this);" autocomplete="off">
                </div>
                <div class="autocomplete">
                    <input class="form-control mb-2 searchText w-100" id="autoInput1" type="search" placeholder="도착지를 입력하세요" aria-label="Search" onkeyup="sendingData(this);" autocomplete="off">
                </div>
                <button type="button" class="btn btnsubmit btn-primary mb-1 float-end btn-sm" onclick="submitCheck()">길찾기</button>
                <!-- 편의시설 -->
                <hr style="margin: 3px;">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off"  onclick="amenitiesShow('cafe',event);">
                    <label class="btn btn-outline-secondary" for="btncheck1" title="Cafe"><i class="bi bi-cup-fill"></i></label>

                    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" onclick="amenitiesShow('convenienceStore',event);">
                    <label class="btn btn-outline-secondary" for="btncheck2" title="ConvenienceStore" ><i class="bi bi-basket2-fill"></i></label>

                    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" onclick="amenitiesShow('restaurant',event);">
                    <label class="btn btn-outline-secondary" for="btncheck3" title="Restaurant"><svg class="newicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.496 24h-.001c-.715 0-1.5-.569-1.5-1.5v-8.5s-1.172-.003-2.467 0c.802-6.996 3.103-14 4.66-14 .447 0 .804.357.807.851.01 1.395.003 16.612.001 21.649 0 .828-.672 1.5-1.5 1.5zm-11.505-12.449c0-.691-.433-.917-1.377-1.673-.697-.56-1.177-1.433-1.088-2.322.252-2.537.862-7.575.862-7.575h.6v6h1.003l.223-6h.607l.173 6h1.003l.242-6h.562l.199 6h1.003v-6h.549s.674 5.005.951 7.55c.098.902-.409 1.792-1.122 2.356-.949.751-1.381.967-1.381 1.669v10.925c0 .828-.673 1.5-1.505 1.5-.831 0-1.504-.672-1.504-1.5v-10.93z"/></svg></label>


                    <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" onclick="amenitiesShow('medicalRoom',event);">
                    <label class="btn btn-outline-secondary" for="btncheck4" title="MedicalRoom"><svg class="newicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z"/></svg></label>

                    <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" onclick="amenitiesShow('readingRoom',event);">
                    <label class="btn btn-outline-secondary" for="btncheck5" title="Library"><i class="bi bi-pencil-fill"></i></label>
                </div>



                <!-- 결과경로 -->

                <div class="btn-group mt-2" id="elevatorCheck" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked onclick="ElevPage('use')">
                    <label class="btn btn-outline-primary" for="btnradio1">엘리베이터 사용</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="ElevPage('noUse')">
                    <label class="btn btn-outline-primary" for="btnradio2">엘리베이터 미사용</label>
                </div>

                <div class="form-check form-switch d-flex justify-content-end" id="checkbox_check" style="margin-top: 7px; margin-bottom: 5px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="my_checkbox" onclick="is_checked()">
                    <label class="form-check-label" for="flexSwitchCheckDefault" style="margin-left: 2%;">경로 간략화</label>
                </div>

                {#스피너#}
                <div id="mySpinner">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

                <div id="showRoute">

                    <div id="elevatorUse">
                    </div>
                    <div id="elevatorNoUse">
                    </div>
                </div>
            </div>
        </div>
        {#하단바#}
        <div id="clubSidebar" >
                        <!-- div를 flex속성을 위해 다시 넣었다 -->
            <div class="d-flex flex-column" id="innerSidebar">
                <!-- 닫기버튼 -->
                <div class="sidebarScrollButton" style="display:flex; justify-content: center;"><span id="close" style="cursor:pointer;font-size:2px" title="닫기"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c7576" class="bi bi-caret-down-fill" viewBox="0 0 16 16" onclick="clubSidebarRemove()">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg></span></div>
                <!-- 검색창 -->
                {% csrf_token %}
                <div class="autocomplete">
                    <input class="form-control mb-1 searchText w-100" id="autoInput" type="search" placeholder="출발지를 입력하세요" aria-label="Search" onkeyup="sendingData(this);" autocomplete="off">
                </div>
                <div class="autocomplete">
                    <input class="form-control mb-2 searchText w-100" id="autoInput1" type="search" placeholder="도착지를 입력하세요" aria-label="Search" onkeyup="sendingData(this);" autocomplete="off">
                </div>
                <button type="button" class="btn btnsubmit btn-primary mb-1 float-end btn-sm" onclick="submitCheck()">길찾기</button>

            </div>
        </div>



{#            sidebar사라지게하려면 onclick="backgroundClick(event)" 넣어야함#}
        <div id="backgroundClick" class="brightnessFromButton" >
            <!-- 학교사진 및 캔버스 -->
            <!-- ratio클래스로인해 자식요소 크기 자동조절 -->
            <div class='ratio' style="--bs-aspect-ratio: 53.84615384%; animation: fadein 4s ease 2s; -webkit-animation: fadein 2s;" id="background" >
                <img id="backgroundImage" src="../../static/logo/schoolMap.jpg" alt="...">

                <canvas id="myCanvas"width="1300" height="700"></canvas>

                <!-- 편의시설화살표 -->
                <div class="img-fluid d-flex" id="amenitiesOnMap">
                    <div class="flex-grow-1" id="cafe"></div>
                    <div class="flex-grow-1" id="convenienceStore"></div>
                    <div class="flex-grow-1" id="restaurant"></div>
                    <div class="flex-grow-1" id="medicalRoom"></div>
                    <div class="flex-grow-1" id="readingRoom"></div>
                </div>
            </div>

            <!-- footer -->
            <footer id="footer"  style="width: 100%;">
                <hr style="margin: 3px;">
                <br>
                <div  class='text-center'>
                    <ul>
                        <li class="iconContainer">
                                <div class="circle">
                                    <a href="mailto: hongikmap2023@gmail.com" title="hongikmap2023@gmail.com">
                                    <img src="../../static/logo/GmailLogo.png" width="40" height="40" class="bi bi-envelope-at-fill">
                                    </a>
                                </div> <!--hongikmap2023@gmail.com-->

                                <a href="https://www.instagram.com/hongmap2023/?igshid=OTJlNzQ0NWM%3D" target='_blank'>
                                <div class="circle">
                                    <img src="../../static/logo/instagramLogo.png" width="40" height="40" class="bi bi-envelope-at-fill" margin-top="auto">
                                </div>
                                </a>
                                <div class="circle">
                                    <a href="https://open.kakao.com/o/s2O4Mq8e" target='_blank'>
                                    <img src="../../static/logo/kakaotalkLogo.png" width="40" height="40" class="bi bi-envelope-at-fill" margin-top="auto" >
                                    </a>
                                </div>
                                <!--<a href="https://www.instagram.com/hongmap2023/?igshid=OTJlNzQ0NWM%3D">
                                @hongmap2023</a>-->
                        </li>
                    </ul>
                    불편한 점이나 문의사항은 위로 연락주세요 <br>
                    Thanks to Coffee Enthusiastic<br><br>
                </div>
            </footer>

        </div>







        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="../../static/js/responsiveWebMain.js"></script>
</body>
</html>