.w-btn-gra1 {
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
}

.w-btn-gra-anim {
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadein {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

html, body{
    display: flex;
    justify-content: center;
}

#background{

    position:relative;
    width: 1300px;
    height: 700px;
}
/*학교이미지*/
.img-fluid{
    position: absolute;

    right: -45px;
    top : 7px;
    width: 1300px;
    height: 700px;
    z-index: 0;
    animation: fadein 4s ease 2s;
    -webkit-animation: fadein 2s;
    opacity: 1;
}



/*캔버스*/
#myCanvas{
    position: absolute;
    left:0px;
    z-index: 1;
    /*원래 z index
    z-index: 10;*/
}



/*편의시설아이콘 및 텍스트*/
#amenitiesOnMap{
    position: absolute;
    left:0px;
    width: 1300px;
    height: 700px;
    overflow: auto;
    z-index: 2;

}
#amenitiesOnMap div{
    position: absolute;
    left:0px;
    width: 1300px;
    height: 700px;
    right: 0;
    overflow: auto;
    display: none;
}

#cafe img, #convenieneceStore img, #readingRoom img{
    width: 44px;
    height: 44px;
    position: absolute;

}
#restaurant img{
    width: 40px;
    height: 40px;
    position: absolute;
}
#medicalRoom img{
    width: 34px;
    height: 34px;
    position: absolute;

}



/*사이드바 메뉴 로고 만들기 (햄버거 바)*/
input[id= "sidebar-btt"]{
    display: none;

}
input[id= "sidebar-btt"] + label{
    display: block;
    width: 21px;
    height: 14px;
    position:fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 4;
}
input[id="sidebar-btt"] + label span{
    display: block;
    position:absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
    z-index: 4;
}
/*check box 체크 전 햄버거모양*/
input[id="sidebar-btt"] + label span:nth-child(1){
    top:0;
}
input[id="sidebar-btt"] + label span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
input[id="sidebar-btt"] + label span:nth-child(3){
    bottom:0;
}
/*checkbox 클릭 후 엑스자 모양*/
input[id="sidebar-btt"]:checked + label span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
    left: 240px;
}
input[id="sidebar-btt"]:checked + label span:nth-child(2){
   opacity:0;
   left: 240px;
}
input[id="sidebar-btt"]:checked + label span:nth-child(3){
    bottom:50%;
    transform: translateY(50%) rotate(-45deg);
    left: 240px;
}



/*sidebar*/
div[class="sidebar"]{
    padding: 10px;
    width: 270px;
    height:98vh;
    background-color: #fff;
    color: #000;
    position: fixed;
    top:0;
    left: -290px;
    z-index: 3;
    transition: all .35s;
    border-right: solid;
    border-width: 1.5px;
    border-color: gray;
    display:flex;
    flex-direction: column;
}

input[id="sidebar-btt"]:checked + label + div{
    left:0;
}


/*사이드 바 컨텐츠*/
/*홍익맵로고*/
#webName {
    position:static;
    text-align: center;
    margin-bottom: 30px ;
    margin-top: 30px;
}
/*밑줄없애고, 색상 보라색되지 않도록*/
a {
    text-decoration: none;
    color: #34495e;
}
/*검색창*/
input[id="autoInput"]{
    width:250px;
    height: 20px;
    margin-bottom: 3.5px;
    text-align: center;
}
input[id="autoInput1"]{
    width:250px;
    height: 20px;
    text-align: center;
}
input[id="submit"]{
    position: absolute;
    border: none;
    right: 17px;
    width: 57px;
    height: 23px;
    margin-top:10px;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    color: white;
    animation: gradient1 5s ease infinite;
    border-radius: 8px;
}
#textBar{

    margin-bottom: 30px;
    position: static;
    text-align: center;
}


.autocomplete {
    position: relative;
    display: inline-block;
    color:black ;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 101;
     top: 100%;
    left: 0;
    right: 0;
    max-height: 180px;
    overflow: auto;
}

.autocomplete-items div {
    padding: 2px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
   background-color: DodgerBlue !important;
    color: #ffffff;
}





/*편의시설*/
.Amenitytotal{
    margin-top: 30px;
    margin-bottom: 30px;
}
#Amenityname{
    position: absolute;
    left: 17px;
}
.logo{
    height: 30px; width: 30px;
}

#AmenityButton button{
    text-align: center;
    width: 18%;
    background-color: transparent;
    border-color: transparent;
    border-radius: 8px;
    cursor: pointer;


    box-shadow: 1.5px 1.5px 1.5px gray;
    transition-duration: 0.3s;
}

#AmenityButton button:active{
    box-shadow: none;
}


/*경로표시*/
#showRoute {
    visibility: hidden;
    background-color: white;
    color: #34495e;
    flex-grow:1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


/*엘리베이터*/
#elevatorCheck{

    visibility: hidden;
    display: grid;
    grid-template-columns:50% 50%;

}

 #elevatorCheck label{
    color: #34495e;
    display: inline-block;
    border: 10px;
    border-radius: 2px;
    text-align : center;

}
input[type=radio]{
    display: none;
}
input[type=radio]:checked + label{
    background-color: lightgray;
    background-image: none;
}
#elevatorUse{
    flex-grow:1;
    font-weight: 500;
    border: 1.25px solid lightgray;


}
#elevatorNoUse{
    flex-grow:1;
    display: none;
    font-weight: 500;
    border: 1.25px solid lightgray;


}
#timeText{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
#time{
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}

